html {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #141414;
}
head {
  display: block;
  background-image: url(./nope.gif);
  height: 20rem;
  width: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #fff;
  border-radius: 20px;
  border-style: dashed;
}
body::before {
  font-weight: bold;
  font-size: 32px;
  color: #feffaa;
  display: inline-block;
  padding-top: 1rem;
  content: "啪!沒了";
}
